In [2]:
import pandas as pd

df = pd.read_csv("data\mbti_1.csv")

In [3]:
df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [4]:
def convert_posts_to_list(post: str) -> list:

    list = post.split("|||")
    return list

In [5]:
df["posts"] = df["posts"].apply(convert_posts_to_list)

In [6]:
df["posts"].head()

0    ['http://www.youtube.com/watch?v=qsXHcwe3krw, ...
1    ['I'm finding the lack of me in these posts ve...
2    ['Good one  _____   https://www.youtube.com/wa...
3    ['Dear INTP,   I enjoyed our conversation the ...
4    ['You're fired., That's another silly misconce...
Name: posts, dtype: object

In [7]:
df2 = df.explode("posts")

In [8]:
df2.reset_index()

        index  type                                              posts
0           0  INFJ        'http://www.youtube.com/watch?v=qsXHcwe3krw
1           0  INFJ  http://41.media.tumblr.com/tumblr_lfouy03PMA1q...
2           0  INFJ  enfp and intj moments  https://www.youtube.com...
3           0  INFJ  What has been the most life-changing experienc...
4           0  INFJ  http://www.youtube.com/watch?v=vXZeYwwRDw8   h...
...       ...   ...                                                ...
422840   8674  INFP  I was going to close my facebook a few months ...
422841   8674  INFP  30 Seconds to Mars - All of my collections. It...
422842   8674  INFP  I have seen it, and i agree. I did actually th...
422843   8674  INFP  Ok so i have just watched Underworld 4 (Awaken...
422844   8674  INFP  I would never want to turn off my emotions. so...

[422845 rows x 3 columns]

In [30]:
df2.to_csv("mbti_exploded.csv")

In [9]:
df2.head()

   type                                              posts
0  INFJ        'http://www.youtube.com/watch?v=qsXHcwe3krw
0  INFJ  http://41.media.tumblr.com/tumblr_lfouy03PMA1q...
0  INFJ  enfp and intj moments  https://www.youtube.com...
0  INFJ  What has been the most life-changing experienc...
0  INFJ  http://www.youtube.com/watch?v=vXZeYwwRDw8   h...

In [11]:
df2["type"].value_counts()

INFP    89796
INFJ    72105
INTP    63359
INTJ    52471
ENTP    33761
ENFP    32769
ISTP    16498
ISFP    13000
ENTJ    11273
ISTJ     9913
ENFJ     9288
ISFJ     8121
ESTP     4337
ESFP     2215
ESFJ     2018
ESTJ     1921
Name: type, dtype: int64

In [13]:
def remove_quotation_from_orig_scrape(string: str) -> str:

    if len(string) > 0:
        
        if string[0] == "\"" or string[0] == "\'":
            string = string[1:]

        if string[-1] == "\"" or string[-1] == "\'":
            string = string[:-1]
    
    return string

In [20]:
df3 = df2["posts"].apply(remove_quotation_from_orig_scrape)

IndexError: string index out of range