In [2]:
import pandas as pd

df = pd.read_csv("data\mbti_1.csv")

In [3]:
df.head()

   type                                              posts
0  INFJ  'http://www.youtube.com/watch?v=qsXHcwe3krw|||...
1  ENTP  'I'm finding the lack of me in these posts ver...
2  INTP  'Good one  _____   https://www.youtube.com/wat...
3  INTJ  'Dear INTP,   I enjoyed our conversation the o...
4  ENTJ  'You're fired.|||That's another silly misconce...

In [4]:
def convert_posts_to_list(post: str) -> list:

    list = post.split("|||")
    list = post.lstrip()
    return list

In [ ]:
def convert_posts_to_one_text(post: str) -> str:
    post = post.replace("|||", "")
    post = post.replace("'", "")
    post = post.replace('"', "")

In [5]:
df["posts"] = df["posts"].apply(convert_posts_to_list)

In [6]:
df["posts"].head()

0    ['http://www.youtube.com/watch?v=qsXHcwe3krw, ...
1    ['I'm finding the lack of me in these posts ve...
2    ['Good one  _____   https://www.youtube.com/wa...
3    ['Dear INTP,   I enjoyed our conversation the ...
4    ['You're fired., That's another silly misconce...
Name: posts, dtype: object

In [7]:
df2 = df.explode("posts")

In [8]:
df2.reset_index()

        index  type                                              posts
0           0  INFJ        'http://www.youtube.com/watch?v=qsXHcwe3krw
1           0  INFJ  http://41.media.tumblr.com/tumblr_lfouy03PMA1q...
2           0  INFJ  enfp and intj moments  https://www.youtube.com...
3           0  INFJ  What has been the most life-changing experienc...
4           0  INFJ  http://www.youtube.com/watch?v=vXZeYwwRDw8   h...
...       ...   ...                                                ...
422840   8674  INFP  I was going to close my facebook a few months ...
422841   8674  INFP  30 Seconds to Mars - All of my collections. It...
422842   8674  INFP  I have seen it, and i agree. I did actually th...
422843   8674  INFP  Ok so i have just watched Underworld 4 (Awaken...
422844   8674  INFP  I would never want to turn off my emotions. so...

[422845 rows x 3 columns]

In [9]:
#df2.to_csv("mbti_exploded.csv")

In [10]:
df2.head()

   type                                              posts
0  INFJ        'http://www.youtube.com/watch?v=qsXHcwe3krw
0  INFJ  http://41.media.tumblr.com/tumblr_lfouy03PMA1q...
0  INFJ  enfp and intj moments  https://www.youtube.com...
0  INFJ  What has been the most life-changing experienc...
0  INFJ  http://www.youtube.com/watch?v=vXZeYwwRDw8   h...

In [11]:
df2["type"].value_counts()

INFP    89796
INFJ    72105
INTP    63359
INTJ    52471
ENTP    33761
ENFP    32769
ISTP    16498
ISFP    13000
ENTJ    11273
ISTJ     9913
ENFJ     9288
ISFJ     8121
ESTP     4337
ESFP     2215
ESFJ     2018
ESTJ     1921
Name: type, dtype: int64

In [12]:
def remove_quotation_from_orig_scrape(string: str) -> str:

    if len(string) > 0:
        
        if string[0] == "\"" or string[0] == "\'":
            string = string[1:]

        if string[-1] == "\"" or string[-1] == "\'":
            string = string[:-1]
    
    return string

In [13]:
df2["posts"] = df2["posts"].apply(remove_quotation_from_orig_scrape)

In [14]:
#df2.to_csv("mbti_exploded_quotation_removed.csv")

In [15]:
import validators

In [20]:
validators.url("https://stackoverflow.com/questions/7160737/how-to-validate-a-url-in-python-malformed-or-not")

True

In [24]:
def post_is_only_url(post: str) -> bool:

    is_only_url = validators.url(post)

    if is_only_url == True:
        return is_only_url
    else:
        return False

In [28]:
df2.head()

   type                                              posts
0  INFJ         http://www.youtube.com/watch?v=qsXHcwe3krw
0  INFJ  http://41.media.tumblr.com/tumblr_lfouy03PMA1q...
0  INFJ  enfp and intj moments  https://www.youtube.com...
0  INFJ  What has been the most life-changing experienc...
0  INFJ  http://www.youtube.com/watch?v=vXZeYwwRDw8   h...

In [31]:
df2.reset_index()

        index  type                                              posts
0           0  INFJ         http://www.youtube.com/watch?v=qsXHcwe3krw
1           0  INFJ  http://41.media.tumblr.com/tumblr_lfouy03PMA1q...
2           0  INFJ  enfp and intj moments  https://www.youtube.com...
3           0  INFJ  What has been the most life-changing experienc...
4           0  INFJ  http://www.youtube.com/watch?v=vXZeYwwRDw8   h...
...       ...   ...                                                ...
422840   8674  INFP  I was going to close my facebook a few months ...
422841   8674  INFP  30 Seconds to Mars - All of my collections. It...
422842   8674  INFP  I have seen it, and i agree. I did actually th...
422843   8674  INFP  Ok so i have just watched Underworld 4 (Awaken...
422844   8674  INFP  I would never want to turn off my emotions. so...

[422845 rows x 3 columns]

In [33]:
df2['only_url'] = df2.apply(lambda x: post_is_only_url(x["posts"]), axis=1)

In [35]:
df2.reset_index()

,index,type,posts,only_url
0,0,INFJ,http://www.youtube.com/watch?v=qsXHcwe3krw,True
1,0,INFJ,http://41.media.tumblr.com/tumblr_lfouy03PMA1q...,True
2,0,INFJ,enfp and intj moments https://www.youtube.com...,False
3,0,INFJ,What has been the most life-changing experienc...,False
4,0,INFJ,http://www.youtube.com/watch?v=vXZeYwwRDw8 h...,False
...,...,...,...,...
422840,8674,INFP,I was going to close my facebook a few months ...,False
422841,8674,INFP,30 Seconds to Mars - All of my collections. It...,False
422842,8674,INFP,"I have seen it, and i agree. I did actually th...",False
422843,8674,INFP,Ok so i have just watched Underworld 4 (Awaken...,False
422844,8674,INFP,I would never want to turn off my emotions. so...,False

In [36]:
df_only_url_removed = df2.loc[df2["only_url"] == False]

In [39]:
df_only_url_removed = df_only_url_removed.drop('only_url' , axis=1)

In [42]:
df_only_url_removed.reset_index()

        index  type                                              posts
0           0  INFJ  enfp and intj moments  https://www.youtube.com...
1           0  INFJ  What has been the most life-changing experienc...
2           0  INFJ  http://www.youtube.com/watch?v=vXZeYwwRDw8   h...
3           0  INFJ               May the PerC Experience immerse you.
4           0  INFJ  The last thing my INFJ friend posted on his fa...
...       ...   ...                                                ...
413022   8674  INFP  I was going to close my facebook a few months ...
413023   8674  INFP  30 Seconds to Mars - All of my collections. It...
413024   8674  INFP  I have seen it, and i agree. I did actually th...
413025   8674  INFP  Ok so i have just watched Underworld 4 (Awaken...
413026   8674  INFP  I would never want to turn off my emotions. so...

[413027 rows x 3 columns]

In [45]:
def remove_quotation(post: str):
    post = post.replace('"', '')
    post = post.replace("'", "")

    return post

In [46]:
df_only_url_removed["posts"] = df_only_url_removed["posts"].apply(remove_quotation)

In [48]:
df_only_url_removed.reset_index()

        index  type                                              posts
0           0  INFJ  enfp and intj moments  https://www.youtube.com...
1           0  INFJ  What has been the most life-changing experienc...
2           0  INFJ  http://www.youtube.com/watch?v=vXZeYwwRDw8   h...
3           0  INFJ               May the PerC Experience immerse you.
4           0  INFJ  The last thing my INFJ friend posted on his fa...
...       ...   ...                                                ...
413022   8674  INFP  I was going to close my facebook a few months ...
413023   8674  INFP  30 Seconds to Mars - All of my collections. It...
413024   8674  INFP  I have seen it, and i agree. I did actually th...
413025   8674  INFP  Ok so i have just watched Underworld 4 (Awaken...
413026   8674  INFP  I would never want to turn off my emotions. so...

[413027 rows x 3 columns]

In [49]:
df_only_url_removed.to_csv("df_url_removed_exploded.csv")